@import url('https://fonts.googleapis.com/css?family=Roboto|VT323&display=swap');

$base-font-family: 'Montserrat', sans-serif;
$fancy-font: 'VT323', monospace;

// font-weight
$fw-1: 200;
$fw-2: 400;

// font-sizes
$base-font-size: 1.6rem;

// * code starts here * //

// set html to 10px to create base 10
html {
  font-size: 10px;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $base-font-color;
  font-weight: $fw-2;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

h2,
h3,
h4,
h5 {
  font-family: $fancy-font;
}
