extends layout
append content
  .wrapper-limiter
    header
      .header
        h1.header--title Web Recorder
    nav
      .nav__container
        .nav__container--control-buttons
          button#start.button.button--start Start
          button(disabled)#stop.button.button--stop Stop
          button(disabled)#pause.button.button--pause Pause
          a#download.download.is-hidden Download
        .nav__container--timer
          p#playback numbers
    section
      .content-wrapper
        .main-content
          .main-content--video-box.is-hidden
            video(autoplay="true" id="videoPlayer" class="videoPlayer"
            controls)
  footer
    .footer
      span &copy
        | <script>document.write(new Date().getFullYear())</script>
        | ❤️
        | <a href="https://jaredmakes.website"> Jared Makes </a>
        | ❤️
