extends layout
append content
  .wrapper-limiter
    header
      .header
        h1.header--title Web Recorder
    nav
      .nav__container
        .nav__container--control-buttons
          button#start.button.button--start Start
          button#stop.button.button--stop Stop
          button#pause.button.button--pause Pause
        .nav__container--timer
          p#playback
    section
      .content-wrapper
        .main-content
          .main-content--video-box.is-hidden
            video(autoplay="true" id="videoPlayer" class="videoPlayer"
            controls)
  footer
    .footer
      span &copy
        | <script>document.write(new Date().getFullYear())</script>
        | ❤️
        | <a href="mailto:jared@jaredmakes.com"> Jared Makes </a>
